The contents contained in this Jupyter notebook may be freely distributed for teaching-learning purpose. When more than 50% of this notebook is used for a presentation or distribution it may be cited as follows: 

Python Tutorial: developed by Sheetal Taneja (Assistant Professor, Dyal Singh College), Ankit Rajpal (Assistant Professor, Deen Dayal Upadhyaya College), Naveen Kumar (Professor, Department of Computer Science), University of Delhi.

# String and List

## <font color= blue > Strings </font>
* A string is a sequence of characters. 
* A string may be specified by placing the member characters of the sequence within quotes (single, double or triple). 
* Triple quotes are typically used for strings that span multiple lines.

In [1]:
message = 'Hello Gita'

### <font color= green > Computing Length using len function </font>

In [2]:
print(len(message))

10

### <font color= green > Indexing </font>
* Individual characters within a string are accessed using a technique known as indexing.
<div style="width: 600px;"> ![title](1.png) </div>

In [5]:
index = len(message) - 1
print(message[6], message[index], message[-1])

G a a

### <font color= green > Slicing </font>
* In order to extract the substring comprising the character sequence having indices from start to end-1, we specify the range in the form start:end.
* Python also allows us to extract a subsequence of the form _start:end:inc_.

In [89]:
message = 'Hello Sita'
print(message[0:5], message[-10:-5])

Hello Hello

In [90]:
print(message[0:len(message):2])
print(message[:])

HloSt
Hello Sita

### <font color= green > Membership Operator in</font>
* Python also allows us to check for membership of the individual characters or substrings in strings using in operator.

In [91]:
'h' in 'hello'

True

In [92]:
'ell' in 'hello'

True

In [93]:
'h' in 'Hello'

False

## <font color= blue > **Built-in Functions on Strings** </font>

### <font color=green> Function: count </font>
* For counting number of occurrences of a substring.

In [94]:
'Encyclopedia'.count('c')

2

### <font color= green > Functions capitalize, title, lower, upper, and swapcase </font>
* Function **capitalize**: converting the first letter of a string to uppercase character and converting the remaining letters in the string to lowercase.
* Function **title**: Capitalize the first letter of each word in a string and change the remaining letters to lowercase.
* Function **lower**: Convert all letters in a string to lowercase.
* Function **upper**: Convert all letters in a string to uppercase.

In [97]:
'python IS a Language'.capitalize()

'Python is a language'

In [98]:
'python IS a PROGRAMMING Language'.title()

'Python Is A Programming Language'

In [99]:
emailId1 = 'geek@gmail.com'
emailId2 = 'Geek@gmail.com'
emailId1.lower() == emailId2.lower()

True

### <font color= green > Function replace </font>
* It allows to replace part of a string by another string.
* It takes two arguments as inputs. The first argument is used to specify the substring that is to be replaced. The second argument is used to specify the string that replaces the first string.

In [106]:
message = 'Amey my friend, Amey my guide'

In [107]:
message.replace('Amey', 'Vihan')

'Vihan my friend, Vihan my guide'

## <font color= blue > Lists </font>
* A list is an ordered sequence of values. 
* Values stored in a list can be of any type such as string, integer, float, or list.
* Note!! Elements of a list are enclosed in square brackets, separated by commas.
* Unlike strings, lists are mutable, and therefore, one may modify individual elements of a list.

In [127]:
subjects=['Hindi', 'English', 'Maths', 'History']

<div style="width: 500px;"> ![title](2.png) </div>

In [128]:
temporary = subjects

<div style="width: 500px;"> ![title](3.png) </div>

In [129]:
temporary[0] = 'Sanskrit'
print(temporary)
print(subjects)

['Sanskrit', 'English', 'Maths', 'History']
['Sanskrit', 'English', 'Maths', 'History']

In [130]:
subjectCodes = [['Sanskrit', 43], ['English', 85] , ['Maths', 65], ['History', 36]]
subjectCodes[1]

['English', 85]

In [131]:
print(subjectCodes[1][0],subjectCodes[1][1])

English 85

### <font color= green > Heterogeneous List </font>

In [132]:
details = ['Megha Verma', 'C-55, Raj Nagar, Pitam Pura, Delhi - 110034', 9876543210]

## <font color= blue > List Operations </font>

In [156]:
list1 = ['Red', 'Green']
list2 = [10, 20, 30]

### <font color= green > Multiple Operator * </font>

In [157]:
list2 * 2

[10, 20, 30, 10, 20, 30]

### <font color= green > Concatenation Operator + </font>

In [158]:
list1 = list1 + ['Blue']
list1

['Red', 'Green', 'Blue']

### <font color= green > Length Operator len </font>

In [159]:
len(list1)

3

### <font color= green > Indexing & Slicing </font>

In [160]:
list2[-1]

30

In [161]:
list2[0:2]

[10, 20]

In [162]:
list2[0:3:2]

[10, 30]

### <font color= green > Function min & max </font>

In [163]:
min(list2)

10

In [164]:
max(list1)

'Red'

### <font color= green > Function sum </font>

In [165]:
sum(list2)

60

### <font color= green > Membership Operator: in </font>

In [166]:
40 in list2

False

In [167]:
students = ['Ram', 'Shyam', 'Gita', 'Sita']
for name in students:
    print(name)

Ram
Shyam
Gita
Sita

### <font color= green > Function list </font>
* The function list takes a sequence as an argument and returns a list.

In [168]:
vowels = 'aeiou'
list(vowels)

['a', 'e', 'i', 'o', 'u']

## <font color= blue > **Built-in Functions on Lists** </font>

### <font color= green > Function append </font>
* The function append insert the object passed to it at the end of the list.

In [170]:
a = [10, 20, 30, 40]
a.append(35)
print(a)

[10, 20, 30, 40, 35]

### <font color= green > Function extend </font>
* The function extend accepts a sequence as an argument and puts the elements of the sequence at the end of the list.

In [171]:
a = [10, 20, 30]
a.extend([35,40])
print(a)

[10, 20, 30, 35, 40]

### <font color= green > Function:count </font>
* The function count returns the count of the number of times the object passed as an argument appears in the list.

In [172]:
a = [10, 20, 30, 10, 50, 20, 60, 20, 30, 55]
print(a.count(20))

3

### <font color= green > Function remove </font>
* The function remove takes the value to be removed from the list as an argument, and removes the first occurrence of that value from the list.

In [174]:
a.remove(20)
print(a)

[10, 30, 50, 20, 60, 20, 30, 55]

### <font color= green > del Operator </font>
* The del operator is used to remove a subsequence of elements (start:end:increment) from a list.

In [175]:
a = [10, 20, 30, 20, 60, 20, 30, 55]
del a[2:6:3]
print(a)

[10, 20, 20, 60, 30, 55]

### <font color= green > Function insert </font>
* The insert function can be used to insert an object at a specified index. This function takes two arguments: the index where an object is to be inserted and the object itself.

In [176]:
names = ['Ram', 'Sita', 'Gita', 'Sita']
names.insert(2, 'Shyam')
print(names)

['Ram', 'Sita', 'Shyam', 'Gita', 'Sita']

### <font color= green > Function reverse </font>
* The function reverse reverses the order of the elements in a list.

In [178]:
names = ['Ram', 'Sita', 'Sita', 'Anya']
names.reverse()
print(names)

['Anya', 'Sita', 'Sita', 'Ram']

### <font color= green > Function sort </font>
* The function sort can be used to arrange the elements in a list in ascending order.

In [179]:
names = ['Ram', 'Sita', 'Sita', 'Anya']
names.sort()
print(names)

['Anya', 'Ram', 'Sita', 'Sita']

In [180]:
names = ['Ram', 'Sita', 'Sita', 'Anya']
names.sort(reverse = True)
print(names)

['Sita', 'Sita', 'Ram', 'Anya']