In [3]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

### A query to return information on the tables and views in the database.

In [4]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

 * sqlite:///chinook.db
Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

### A query that returns each genre, with the number of tracks sold in the USA:
<li>in absolute numbers
<li>in percentages.

In [25]:
%%sql
with tracks_sold_in_usa as
(
    select il.* from invoice_line il
    inner join invoice i on il.invoice_id = i.invoice_id
    inner join customer c on i.customer_id = c.customer_id
    where country == "USA"
)
 select 
 g.name genre_name,
 count(uts.invoice_line_id) tracks_sold,
 cast(count(uts.invoice_line_id) * 100 as float) / (
      SELECT COUNT(*) from tracks_sold_in_usa
    ) percentage_sold
FROM tracks_sold_in_usa uts
INNER JOIN track t on t.track_id = uts.track_id
INNER JOIN genre g on g.genre_id = t.genre_id
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

 * sqlite:///chinook.db
Done.

[('Rock', 561, 53.37773549000951),
 ('Alternative & Punk', 130, 12.369172216936251),
 ('Metal', 124, 11.798287345385347),
 ('R&B/Soul', 53, 5.042816365366318),
 ('Blues', 36, 3.4253092293054235),
 ('Alternative', 35, 3.330161750713606),
 ('Pop', 22, 2.093244529019981),
 ('Latin', 22, 2.093244529019981),
 ('Hip Hop/Rap', 20, 1.9029495718363463),
 ('Jazz', 14, 1.3320647002854424)]

### A query that finds the total dollar amount of sales assigned to each sales support agent within the company.

In [26]:
%%sql

 * sqlite:///chinook.db

'Connected: @chinook.db'