In [14]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('moma.db')
cursor = conn.cursor()

In [30]:
moma_iter = pd.read_csv('https://query.data.world/s/z7tudrbl7mp7x7nhmiwbas2melfxoo', chunksize=1000)
for chunk in moma_iter:
    chunk.to_sql("exhibitions", conn, if_exists='append', index=False)
results_df = pd.read_sql('PRAGMA table_info(exhibitions);', conn)
results_df

    cid                    name     type  notnull dflt_value  pk
0     0            ExhibitionID  INTEGER        0       None   0
1     1        ExhibitionNumber     TEXT        0       None   0
2     2         ExhibitionTitle     TEXT        0       None   0
3     3  ExhibitionCitationDate     TEXT        0       None   0
4     4     ExhibitionBeginDate     TEXT        0       None   0
5     5       ExhibitionEndDate     TEXT        0       None   0
6     6     ExhibitionSortOrder  INTEGER        0       None   0
7     7           ExhibitionURL     TEXT        0       None   0
8     8          ExhibitionRole     TEXT        0       None   0
9     9           ConstituentID     REAL        0       None   0
10   10         ConstituentType     TEXT        0       None   0
11   11             DisplayName     TEXT        0       None   0
12   12               AlphaSort     TEXT        0       None   0
13   13               FirstName     TEXT        0       None   0
14   14              MiddleName     TEXT        0       None   0
15   15                LastName     TEXT        0       None   0
16   16                  Suffix     TEXT        0       None   0
17   17             Institution     TEXT        0       None   0
18   18             Nationality     TEXT        0       None   0
19   19    ConstituentBeginDate     REAL        0       None   0
20   20      ConstituentEndDate     REAL        0       None   0
21   21               ArtistBio     TEXT        0       None   0
22   22                  Gender     TEXT        0       None   0
23   23                  VIAFID     REAL        0       None   0
24   24              WikidataID     TEXT        0       None   0
25   25                  ULANID     REAL        0       None   0
26   26          ConstituentURL     TEXT        0       None   0

In [28]:
for chunk in moma_iter:
    chunk['ExhibitionSortOrder'] = chunk['ExhibitionSortOrder'].astype('int16')
    chunk.to_sql("exhibitions", conn, if_exists='append', index=False)

In [31]:
results = pd.read_sql('select * from exhibitions;', conn)
results

,ExhibitionID,ExhibitionNumber,ExhibitionTitle,ExhibitionCitationDate,ExhibitionBeginDate,ExhibitionEndDate,ExhibitionSortOrder,ExhibitionURL,ExhibitionRole,ConstituentID,...,Institution,Nationality,ConstituentBeginDate,ConstituentEndDate,ArtistBio,Gender,VIAFID,WikidataID,ULANID,ConstituentURL
0,2557.0,1,"Cézanne, Gauguin, Seurat, Van Gogh","[MoMA Exh. #1, November 7-December 7, 1929]",11/7/1929,12/7/1929,1.0,http://www.moma.org/calendar/exhibitions/1767,Director,9168.0,...,None,American,1902.0,1981.0,"American, 1902–1981",Male,109252853.0,Q711362,500241556.0,moma.org/artists/9168
1,2557.0,1,"Cézanne, Gauguin, Seurat, Van Gogh","[MoMA Exh. #1, November 7-December 7, 1929]",11/7/1929,12/7/1929,1.0,http://www.moma.org/calendar/exhibitions/1767,Artist,1053.0,...,None,French,1839.0,1906.0,"French, 1839–1906",Male,39374836.0,Q35548,500004793.0,moma.org/artists/1053
2,2557.0,1,"Cézanne, Gauguin, Seurat, Van Gogh","[MoMA Exh. #1, November 7-December 7, 1929]",11/7/1929,12/7/1929,1.0,http://www.moma.org/calendar/exhibitions/1767,Artist,2098.0,...,None,French,1848.0,1903.0,"French, 1848–1903",Male,27064953.0,Q37693,500011421.0,moma.org/artists/2098
3,2557.0,1,"Cézanne, Gauguin, Seurat, Van Gogh","[MoMA Exh. #1, November 7-December 7, 1929]",11/7/1929,12/7/1929,1.0,http://www.moma.org/calendar/exhibitions/1767,Artist,2206.0,...,None,Dutch,1853.0,1890.0,"Dutch, 1853–1890",Male,9854560.0,Q5582,500115588.0,moma.org/artists/2206
4,2557.0,1,"Cézanne, Gauguin, Seurat, Van Gogh","[MoMA Exh. #1, November 7-December 7, 1929]",11/7/1929,12/7/1929,1.0,http://www.moma.org/calendar/exhibitions/1767,Artist,5358.0,...,None,French,1859.0,1891.0,"French, 1859–1891",Male,24608076.0,Q34013,500008873.0,moma.org/artists/5358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69111,288.0,1536,Recent Japanese Posters from the Collection,"[MoMA Exh. #1536, December 9, 1989-April 16, 1...",12/9/1989,4/16/1990,1767.0,http://www.moma.org/calendar/exhibitions/1739,Artist,6215.0,...,None,Japanese,1942.0,NaN,"Japanese, born 1942",Male,18484958.0,None,NaN,moma.org/artists/6215
69112,288.0,1536,Recent Japanese Posters from the Collection,"[MoMA Exh. #1536, December 9, 1989-April 16, 1...",12/9/1989,4/16/1990,1767.0,http://www.moma.org/calendar/exhibitions/1739,Artist,6486.0,...,None,Japanese,1943.0,NaN,"Japanese, born 1943",Male,NaN,None,NaN,moma.org/artists/6486
69113,288.0,1536,Recent Japanese Posters from the Collection,"[MoMA Exh. #1536, December 9, 1989-April 16, 1...",12/9/1989,4/16/1990,1767.0,http://www.moma.org/calendar/exhibitions/1739,Artist,6487.0,...,None,Japanese,1920.0,NaN,"Japanese, born 1920",Male,119202488.0,Q2178400,NaN,moma.org/artists/6487
69114,288.0,1536,Recent Japanese Posters from the Collection,"[MoMA Exh. #1536, December 9, 1989-April 16, 1...",12/9/1989,4/16/1990,1767.0,http://www.moma.org/calendar/exhibitions/1739,Artist,6502.0,...,None,Japanese,1936.0,NaN,"Japanese, born 1936",Male,96086073.0,Q3513688,500060125.0,moma.org/artists/6502
69115,3367.0,1537,Directed by Vincente Minnelli,"[MoMA Exh. #1537, December 15, 1989-January 28...",12/15/1989,1/28/1990,1768.0,http://www.moma.org/calendar/exhibitions/2118,Organizer,25529.0,...,None,None,NaN,NaN,None,None,250655373.0,None,NaN,moma.org/artists/25529

In [35]:
q = 'select exhibitionid, count(*) as counts from exhibitions group by exhibitionid order by counts desc;'
eid_counts = pd.read_sql(q, conn)
print(eid_counts[:10])

   ExhibitionID  counts
0           NaN     858
1           7.0     642
2        3838.0     604
3        3030.0     568
4        3988.0     550
5        2600.0     524
6          79.0     518
7       10601.0     512
8        3939.0     508
9        3036.0     488

In [ ]:
q = 'select exhibitionid from exhibitions;'
eid_df = pd.read_sql(q, conn)
eid_pandas_counts = eid_df['ExhibitionID'].value_counts()
print(eid_pandas_counts[:10])