In [15]:
import pandas as pd
import numpy as np


sectionNames = ['A','B','C','D','E','F','G']
sectionStrength = [34,50,60,54,45,40, 50]
sectionSeries= pd.Series(sectionNames,sectionStrength)
print(sectionSeries)
print(sectionSeries.head())
print(sectionSeries.tail())

34    A
50    B
60    C
54    D
45    E
40    F
50    G
dtype: object
34    A
50    B
60    C
54    D
45    E
dtype: object
60    C
54    D
45    E
40    F
50    G
dtype: object

In [ ]:
ls = sectionSeries.tolist()
print(ls)

In [11]:
one = pd.Series([2,4,6,8,10])
two = pd.Series([1,3,5,7,9])
print(one + two)
print(one - two)
print(one * two)
print(one / two)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [12]:
dt = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
dseries = pd.Series(dt)
print(dseries)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [16]:
arr = np.array([1,2,3,4,5])
arr *= 10
print(pd.Series(arr))

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [38]:
a = pd.Series({'0': '100',
'1': '200',
'2': 'python',
'3': '300.12',
'4': '400'})
print(a)
print(pd.to_numeric(a,errors='coerce'))

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [39]:
print(a.to_numpy())
print(a)

['100' '200' 'python' '300.12' '400']
0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [40]:
s = pd.Series(a).sort_values()
print(s)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [44]:
a.append(pd.Series([500,'php']))

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [58]:
f = np.array([1,2,3,4,5,6,7,8])
f **= 3
print(f)
fs = pd.Series(f)
print(fs[fs < 65])

[  1   8  27  64 125 216 343 512]
0     1
1     8
2    27
3    64
dtype: int32

In [59]:
s = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
s.describe()

count    11.000000
mean      4.818182
std       2.522625
min       1.000000
25%       3.000000
50%       5.000000
75%       6.500000
max       9.000000
dtype: float64