In [5]:
import pandas as pd
import numpy as np
import ruleset as rs

In [13]:
df = pd.read_csv("dirty_iris.csv")
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0             6.4          3.2           4.5          1.5  versicolor
1             6.3          3.3           6.0          2.5   virginica
2             6.2          NaN           5.4          2.3   virginica
3             5.0          3.4           1.6          0.4      setosa
4             5.7          2.6           3.5          1.0  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.1           5.6          2.4   virginica
146           5.6          3.0           4.5          1.5  versicolor
147           5.2          3.5           1.5          0.2      setosa
148           6.4          3.1           NaN          1.8   virginica
149           5.8          2.6           4.0          NaN  versicolor

[150 rows x 5 columns]

In [37]:
num = df._get_numeric_data()          #shallow copy
num[num < 0] = np.nan
num[num  == np.inf] = np.nan
print(df)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0             6.4          3.2           4.5          1.5  versicolor
1             6.3          3.3           6.0          2.5   virginica
2             6.2          NaN           5.4          2.3   virginica
3             5.0          3.4           1.6          0.4      setosa
4             5.7          2.6           3.5          1.0  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.1           5.6          2.4   virginica
146           5.6          3.0           4.5          1.5  versicolor
147           5.2          3.5           1.5          0.2      setosa
148           6.4          3.1           NaN          1.8   virginica
149           5.8          2.6           4.0          NaN  versicolor

[150 rows x 5 columns]

In [35]:
f = df.dropna()
number_complete = len(f)
print("Number of complete rows: ",number_complete)
print("Percentage of complete rows: ",number_complete / len(df) * 100)

Number of complete rows:  94
Percentage of complete rows:  62.66666666666667

In [40]:
def check_species(df):
    species = set(df.Species)
    func = lambda x : x in species
    return df["Species"].apply(func)
check_species(df)

0      True
1      True
2      True
3      True
4      True
       ...
145    True
146    True
147    True
148    True
149    True
Name: Species, Length: 150, dtype: bool

In [50]:
def all_positive(df):
    func = lambda x : x > 0
    func1= lambda x: x[0] and x[1] and x[2] and x[3]
    return df.iloc[:,:-1].apply(func).apply(func1,axis=1)
all_positive(df)

0       True
1       True
2      False
3       True
4       True
       ...
145     True
146     True
147     True
148    False
149    False
Length: 150, dtype: bool

In [52]:
def length(df):
    func = lambda x : x[0] >= 2 * x[1]
    return df[["Petal.Length","Petal.Width"]].apply(func,axis = 1)
length(df)

0       True
1       True
2       True
3       True
4       True
       ...
145     True
146     True
147     True
148    False
149    False
Length: 150, dtype: bool